@{
}
@model FalconMVC.ViewModels.NewUserViewModel

<h4>New User form</h4>
<form asp-controller="Registration" asp-action="AddUser">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <label asp-for="UserName"></label>
        <input asp-for="UserName" />
        <span asp-validation-for="UserName"></span>
    </div><br />
    <div>
        <label asp-for="FName"></label>
        <input asp-for="FName" />
        <span asp-validation-for="FName"></span>
    </div><br />
    <div>
        <label asp-for="LName"></label>
        <input asp-for="LName" />
        <span asp-validation-for="LName"></span>
    </div><br />
    <div>
        <label asp-for="Email"></label>
        <input asp-for="Email" />
        <span asp-validation-for="Email"></span>
    </div><br />
    <div>
        <label asp-for="Password"></label>
        <input asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div><br />
    <div>
        <label asp-for="PasswordConfirmed"></label>
        <input asp-for="PasswordConfirmed" />
        <span asp-validation-for="PasswordConfirmed"></span>
    </div><br />
    <input type="submit" value="Create" />

    
</form>
