@{
}
@model FalconMVC.ViewModels.InterfaceVM

<h4>Interface data</h4>
<div>
    <table>
        <tbody>
            <tr>
                <td style="width:90px; text-align:right">IP address : </td><td style="width:150px; text-align:left">@Model.Ip</td>
            </tr>
            <tr>
                <td style="width:90px; text-align:right">Name : </td><td style="width:150px; text-align:left">@Model.FriendlyName</td>
            </tr>
            <tr>
                <td style="width:90px; text-align:right">State : </td><td style="width:150px; text-align:left">@Model.State</td>
            </tr>
        </tbody>
    </table><br /><br />
</div>
