@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model List<GA>

<h6>GA Archive manager</h6>
<form asp-controller="GroupAddress" asp-action="AddArchive">
    <div>
        <label>
            GA (_/_/_) - <input name="nameGA" type="text"/>
        </label>
    </div>
    <div>
        <label>GA Types - </label>
        <input list="types" name="typeGA" placeholder="Enter GA Type"/>
        <datalist id="types">
            <option value="Temperature"></option>
            <option value="Switch"></option>
            <option value="Percent"></option>
        </datalist>
    </div><br />
    <input type="submit" value="Start" />
</form><br />
<fieldset disabled>
    <legend>GA List</legend>
    @{
        if (Model.Count() != 0)
        {
            foreach (var ga in Model)
            {
                <p>@ga.GAddress - @ga.GType</p>
        ;
            }
        }
    }
</fieldset>
