@{
}

<h6>Group Address management</h6>
<a asp-controller="GroupAddress" asp-action="AddArchive">Add Archive GA (Monitoring list)</a><br />
<a asp-controller="GroupAddress" asp-action="Thresholds">Set GA Thresholds notification (Notification list)</a><br />
<a asp-controller="GroupAddress" asp-action="ShowActiveArchive">Show archived GA data</a><br />
<a asp-controller="GroupAddress" asp-action="Read">Read GA</a><br />
<a asp-controller="GroupAddress" asp-action="Write">Write GA</a><br />
