@{
}

<h6>Group Address management</h6>
<a asp-controller="GroupAddress" asp-action="AddArchive">Add Archive GA (Monitoring list)</a>
<br />
<a asp-controller="GroupAddress" asp-action="Thresholds">Add GA Thresholds notification (Notification list)</a>
<br />
<a asp-controller="GroupAddress" asp-action="Monitoring">Monitoring GA</a>
<br />

